body{
  margin: 180px;
  margin-top: 40px;
  font-family: helvetica sans-serif;
}
section{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
.span-2{
  grid-row: span 2;
}
h1{
  border: solid black 2px;
  font-size: 70px;
  background-color: lightblue;
}
.overskrifter{
  font-size: 40px;
}
.tekst{
  font-size: 20px;
}
img{
  width: 400px;

}
.artikler{
  border: solid black 1px;
  background-color: #F3F3F3
}
.bilder-smaa img{
  width: 200px;
}
