body{
  font-family: helvetica, sans-serif;
  background-color: lightblue;
  margin: 100px;
  margin-top: 30px;
}
div{
  background-color: white;
  padding-left: 10px;
  text-align: center;
}
section{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
.span-2{
  grid-column: span 6;
}
.usynlig{
  opacity: 0;
}
img{
  width: 80px;
  height: 80px;
  display: block;
  margin: auto;
}
.ikke-metall{
  background-color: #FFE077;

}
.metall{
  background-color: #2F9E5B;

}
.halv-metall{
  background-color: #EC8E24;
}
.ikke-metall:hover{
  background-color: #CA9826;

}
.halv-metall:hover{
  background-color: #CF8B3D;
}
.metall:hover{
  background-color: #116A21;
}
