body{
  background-color: #0BFFCF;

}
#secPlayers{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-column-gap: 100px;
grid-row-gap: 20px;
}
#secPlayers>div{
  border: solid black 1px;
  background-color: gold;
  border-radius: 20%;
  box-shadow: 10px 10px 5px black;
}
#secPlayers>div>img{
  width: 20%;
  margin: auto;
}
